<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>随看影视</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="__STATIC__/index/css/style.css" rel="stylesheet">
<style>
.icon{
    background: url(__STATIC__/index/img/play-icon.png) no-repeat;
}
.gongao{
  background: url(__STATIC__/index/img/gongao.jpg) no-repeat;
}
</style>
<script>
	window.onload=function(){
		$(document).bind("contextmenu",function(e){   
		    return false;   
		});
		$(document).keydown(function (e) {
		    e = window.event || e || e.which;
		    if (e.keyCode == 123 || e.ctrlKey && e.which == 85 || e.ctrlKey && e.which == 83) {
		        e.keyCode = 0;
		        return false;
		    }
		});
	}
</script>
</head>
<body>
{include file="common/top" /}

<div class="gongao">
	本站一切以学习为目的，不用做任何商业用途，如有侵权，请联系QQ1103223758。
</div>


<div class="container">
	<blockquote><h4>电影 <a href="{:url('more/index',array('classid'=>'1'))}" class="pull-right">查看更多</a></h4></blockquote>
	<div class="row">
		{volist name="movie" id="movies"}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="{:url('video/index',array('id'=>$movies['id']))}" target="_blank">
			<div class="col-img">
				<div>
					<div class="icon"></div>
					<img src="{$movies.img}">
					{if condition="$movies.num"}
						<p>{$movies.num}</p>
					{/if}
				</div>
				<p>{$movies.title}</p>
		        {if condition="$movies.des"}
		        	<p>{$movies.des}</p>
		        {else /}
					<p>无描述</p>
		        {/if}
				<p class="score">{$movies.score}</p>
			</div>
			</a>
		</div>
		{/volist}
	</div>
</div>

<div class="container">
	<blockquote><h4>电视 <a href="{:url('more/index',array('classid'=>'2'))}" class="pull-right">查看更多</a></h4></blockquote>
	<div class="row">
		{volist name="dianshi" id="movies"}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="{:url('video/index',array('id'=>$movies['id']))}" target="_blank">
			<div class="col-img">
				<div>
					<div class="icon"></div>
					<img src="{$movies.img}">
					{if condition="$movies.num"}
						<p>{$movies.num}</p>
					{/if}
				</div>
				<p>{$movies.title}</p>
		        {if condition="$movies.des"}
		        	<p>{$movies.des}</p>
		        {else /}
					<p>无描述</p>
		        {/if}
				<p class="score">{$movies.score}</p>
			</div>
			</a>
		</div>
		{/volist}
	</div>
</div>

<div class="container">
	<blockquote><h4>动漫 <a href="{:url('more/index',array('classid'=>'3'))}" class="pull-right">查看更多</a></h4></blockquote>
	<div class="row">
		{volist name="donman" id="movies"}
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<a href="{:url('video/index',array('id'=>$movies['id']))}" target="_blank">
			<div class="col-img">
				<div>
					<div class="icon"></div>
					<img src="{$movies.img}">
					{if condition="$movies.num"}
						<p>{$movies.num}</p>
					{/if}
				</div>
				<p>{$movies.title}</p>
		        {if condition="$movies.des"}
		        	<p>{$movies.des}</p>
		        {else /}
					<p>无描述</p>
		        {/if}
				<p class="score">{$movies.score}</p>
			</div>
			</a>
		</div>
		{/volist}
	</div>
</div>
{include file="common/footer" /}
</body>
</html>