<!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class=""></i>
                            <span class="menu-text">管理员</span>
                            <i class=""></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Admin/lst')}">
                                    <span class="menu-text">管理员列表</span>
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>                            
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class=""></i>
                            <span class="menu-text">用户管理</span>
                            <i class=""></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('User/lst')}">
                                    <span class="menu-text">用户列表</span>
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>                            
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class=""></i>
                            <span class="menu-text">分类管理</span>
                            <i class=""></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Classs/lst')}">
                                    <span class="menu-text">分类列表</span>
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>                            
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class=""></i>
                            <span class="menu-text">影视管理</span>
                            <i class=""></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('Movies/lst')}">
                                    <span class="menu-text">影视列表</span>
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>                            
                    </li>
                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class=""></i>
                            <span class="menu-text">评论管理</span>
                            <i class=""></i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="{:url('message/lst')}">
                                    <span class="menu-text">评论列表</span>
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>                            
                    </li>
                    <li>
                        <a href="{:url('index/index/index')}" class="">
                            <span class="menu-text">前台入口</span>
                        </a>
                    </li>


                    
                                           
                    
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->